<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> 

<center>
<br>
<% if user_signed_in? %>
<span class="badge rounded-pill bg-success">Vous êtes connecté"</span>
<% else %>
<span class="badge rounded-pill bg-success">"Vous n'êtes pas encore inscrit"</span>
<% end %>
</center>



<body>

<br>
<br>
<br>
  <div class="container text-center">

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6"><br><br><br><br><br><br><h1>RESTEZ TOUJOURS CONNECTÉS</h1><br><br><button type="button" class="btn btn-primary4 btn-lg" style="
    margin-bottom: 100px;
">COMMENCER L'EXPÉRIENCE</button><br></div>
    <div class="col-sm-3"></div>
  </div>
  <br>
  <br>
  <br>

</body>

<%= render 'layouts/footer' %>


