<<<<<<< HEAD
<body style="background-color:black">
  <h1 style="color: #c34e17;">Bienvenue chez InThere !</h1>
  <img style="width:100px" src="https://media.discordapp.net/attachments/1087307861207564318/1088494079324721202/image.png" alt="logo_InThere">.

  <p style="color: #c34e17;">Votre adresse de connexion : @user.email <br></p>
  <p style="color: #c34e17;">Lien pour accéder au site : 
    <a style="color: #c34e17" href="https://inthere.herokuapp.com/">InThere</a>
  </p>
</body>
=======
<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue chez InThere !</title>
  </head>
  <body style="background-color: black">
    <center>
      <h1 style="color: #c34e17;">Bienvenue chez InThere !</h1>
      <img src="https://media.discordapp.net/attachments/1087307861207564318/1088494079324721202/image.png" style="width: 150px; height: 150px;">
      <p style="color: #c34e17;"><strong>Votre adresse de connexion : <%=@user.email%><br></strong></p>
      <p style="color: #c34e17;"><strong>Lien pour accéder au site : <a style="color: #c34e17;" href="https://inthere.herokuapp.com/">InThere</a></strong></p>
    </center>
  </body>
</html>
>>>>>>> 6a80827c79a54feb1000cacc1126a81d0f18cf7d
