<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between">
  <h1>Commentaires</h1>
  <span class="fs-5">
    <%= link_to "Retour au produit", product_path(@product.title), class: "btn btn-outline" %>
  </span>
</div>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>
