<p style="color: green"><%= notice %></p>

<h1>Commentaires</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
    <% if current_user == comment.user %>
      <%= link_to "Modifier mon commentaire", comment %>
    <% end %>
    </p>
  <% end %>

<%= link_to "Retour au produit", product_path(@product.title) %> 
</div>
