<center>
	<div class="container my-5">
		<div class="row">
			<div class="bs-component">
  				<br>
    		<h3 class= "text-center" ><%= pluralize(@products2.count, "Resultat(s) trouvé(s)") %> </h3>
				<br>
					<%= render "search/form" %>
						<br>
			<section class="items-section">
				<div class="row">
			<% @products2.each do |product| %>
						<%= render product %>
					<% end %>
				</div>
			</section>
		</div>
	</div>