<!-- Page Header Start -->
<section class="items-section">
  <div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
      <h1 class="font-weight-semi-bold text-uppercase mb-3">Votre commande du <%= @order.created_at.strftime("%d-%m-%Y") %></h1>
      <h4 class="font-weight-semi-bold text-uppercase mb-3">Numéro de référence de votre commande: <%= @order.id %></h4>
    </div>
  </div>
</section>

<%= render partial: 'orders/order', locals: {order: @order, cart: @cart} %>
