<h1>show du panier<h1>

<ul>
  <% @cart.product_carts.each do |product_cart| %>
    <%= render partial: "product_cart", object: product_cart %>
  <% end %>
</ul>

<p>Coût total du panier : <%= @cart.sub_total %>€</p>

<%= button_to "Passer commande", cart_checkout_create_path(@cart.id, total: @cart.sub_total), class: "btn btn-primary", remote: true %> 


<% link_to "Adresse puis passer commande",  %>
