<tbody class="align-middle">
  <tr>
    <td class="align-middle"><%= product.title %></td>
    <td class="align-middle"><%= product.price %></td>
    <td class="align-middle">
      <%= button_to "Editer", edit_product_path(product.id), method: :get  %>
    </td>
    <td class="align-middle">
      <%= button_to 'Supprimer', {controller: 'products', action: 'destroy', id: product.id}, method: :delete %> 
    </td>
  </tr>
</tbody>

