<h1>Liste des produits en vente</h1>
  <div class="container-fluid pt-5">
    <div class="row px-xl-5">
            <div class="col-lg-3 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="border-white text-white">
                        <tr>
                            <th>Produit</th>
                            <th>Prix</th>
                            <th>Prix</th>
                        </tr>
                    </thead>

                    <% @products.each do |product| %>
                        <%= render "form_product", object: product %>
                    <% end %>
                </table>
            </div>
    </div>
</div>