<center>
    <div class="bs-component">
        <h1><%= @category.title %></h1> 
        <br>
    </div>
</center>

<section class="items-section">
    <div class="row">
    <%= render @products %>
</section>
