<div class="container">
  <h2 class="text-center">Editer le Produit</h2>
</div>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Voir ce produit", @product %> |
  <%= link_to "Produits", products_path %>
</div>
