<!DOCTYPE html>
<html>
<meta charset="utf-8">
<br>
<br>
  <head>
  <center>
	<div class="container my-5">
			<div class="row">
			<% Category.all.each do |category| %>
				<div class="col">
				  <%= link_to product_category_path(category.id) do %>
					<%= image_tag(category.link) %>
					<div class="col"></div>
					<span><%= category.title.upcase %></span>
				  <% end %>
				</div>
			  <% end %>
		</div>
	</div>
	</div>

	</center>

  </head>
  <body>
  <div class="row">
  <div class="bs-component">
  <br>
  <br>
<center>
<br>

<h2>NOS BONS PLANS DU MOMENT</h2>
<br>

<h1>Products</h1>
<br>

<section class="items-section">
<div class="row">

<%= render @products %>

</section>