<div class="container">
  <h3 class="text-center">Création d'un nouveau produit</h3>
</div>

<%= render "form", product: @product %>
<br>

<div>
  <%= link_to "Produits", admin_products_path, data: {turbo: false} %>
</div>
