  <footer>
  <div class="container my-5">
    <div class="text-center text-lg-start">
      <section class="d-flex justify-content-between p-4" style="background-color: #030303">
      </section>
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <p class="text-uppercase fw-bold text-white">
                IN THERE
              </p>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/><p>
                La boutique e-commerce vous proposant les dernières tendances en matière
                d'objets connectés.
              </p>
              <p>
                Un style discutable mais une expérience utilisateur simple et efficace.
              </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <p class="text-uppercase fw-bold text-white">
                SOCIAL
              </p>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <p>
                <a href="https://www.facebook.com/profile.php?id=100090120117116" class="text-white">
                  Facebook
                </a>
              </p>
              <p>
                <a href="https://www.instagram.com/inthere_market/" class="text-white">
                  Instagram
                </a>
              </p>
              <p>
                <a href="https://github.com/ThomasLaneyrie/InThere/" class="text-white">
                  Github
                </a>
              </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <p class="text-uppercase fw-bold text-white">
                Contact
              </p>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/><p>
                <i class="fas fa-home mr-3"></i>
                38 boulevard Ney , 75018, Paris
              </p>
              <p>
                <i class="fas fa-envelope mr-3">
                </i>
                inthere@example.com
              </p>
              <p>
                <i class="fas fa-phone mr-3">
                </i>
                + 01 24 58 32 56
              </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <p class="text-uppercase fw-bold text-white">
                LA TEAM IN THERE
              </p>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
              <p>
                <img src="https://i.postimg.cc/nrKNWj2j/np8o.jpg" width="140" height="140"
                alt="la team" />
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    </div>
  </footer>